:root {
    --aside-width: 25%;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
}

aside {
    height: 100%;
    width: var(--aside-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-shadow: 5px 0 5px -5px #333;
}

.personality {
    height: 45%;
    width: 100%;
}

.avatarContainer {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameContainer h1 {
    font-size: 2.3em;
}


.avatar {
    height: 90%;
    border-radius: 50%;
}

nav {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    opacity: 70%;
    font-size: 1.5vw;
}

.navigationItem.selected {
    opacity: 100%;
    transform: scale(1.2, 1.2);
}

nav a:hover {
    opacity: 100%;
    transform: scale(1.2, 1.2);
}

.downloadCvSection {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes cvHover {
    to {
        background-color: black;
        color: white;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.downloadCvSection button:hover {
    animation: cvHover 0.2s linear both;
}

.downloadCvSection button {
    border: 1px solid black;
    border-radius: 20px;
    background: transparent;
    box-shadow: none;

    height: 40%;
    width: 45%;
    font-size: 1.6vw;
    color: black;
}

main {
    margin-left: var(--aside-width);
    width: calc(100% - var(--aside-width));
    font-size: 1.8vw;
}

.globalSection {
    height: 100vh;
}

.sectionAbout {
    background-image: url("img/forest1024.jpg");
    width: 100%;
    background-size: cover;
}

.sectionAbout p {
    margin: 0;
    padding-top: 10%;
    padding-left: 10%;
    font-family: 'Roboto Mono', monospace;
    font-size: 4vw;
}


.sectionEducation {
    background: whitesmoke;
    display: flex;
}

.educationMain {
    width: 55%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.educationItmo {
    width: 80%;
    background-color: white;
    border-radius: 5px;
}

.badge {
    border-radius: 13px;
    /*border: 1px solid black;*/
    line-height: 1.8em;
    margin: 2px;
    padding: 5px;
    font-size: 0.8em;
}

.badgeRed {
    border: 1px solid rgba(192, 57, 43, 0.5);
    background-color: rgba(192, 57, 43, 0.3)
}

.badgePurple {
    border: 1px solid rgba(155, 89, 182, 0.5);
    background-color: rgba(155, 89, 182, 0.3)
}

.badgeBlue {
    border: 1px solid rgba(41, 128, 185, 0.5);
    background-color: rgba(41, 128, 185, 0.3)
}

.badgeCyan {
    border: 1px solid rgba(26, 188, 156, 0.5);
    background-color: rgba(26, 188, 156, 0.3)
}

.badgeGreen {
    border: 1px solid rgba(39, 174, 96, 0.5);
    background-color: rgba(39, 174, 96, 0.3)
}

.badgeOrange {
    border: 1px solid rgba(243, 156, 18, 0.5);
    background-color: rgba(243, 156, 18, 0.3)
}

.educationExtra {
    width: 45%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.educationScs {
    width: 80%;
    background-color: white;
    border-radius: 5px;
}

.educationSamsung {
    width: 80%;
    background-color: white;
    border-radius: 5px;
}

.willAppear {
    opacity: 0;
}

.willAppear.appeared {
    opacity: 1;
    transition: all 1.4s ease;
}

.sectionExperience {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordionContainer {
    width: 80%;
    height: 80%;
}

.accordion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0;
}

.accordionSlider {
    /*background-color: #c7e4ff;*/
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.accordionSliderItem {
    width: 100%;
    border-bottom: 2px solid black;
}

.accordionSliderItem h2 {
    font-size: 1.2em;
    padding-left: 0.7em;
}

.firstSliderItem {
    -webkit-border-top-left-radius: 5px;
}

.jetBrains {
    background-color: white;
    color: black;
    transition-duration: 0.7s;
}

.jetBrains.accordionItemSelected {
    background-image: linear-gradient(45deg, red, blue 90%);
    color: white;
    font-size: 1.3em;
}

.jetBrains:hover {
    background-image: linear-gradient(45deg, red, blue 90%);
    color: white;
    font-size: 1.3em;
}

.jetBrains h2 {
    font-family: 'JetBrains Mono', monospace;
}

.yandex {
    background-color: white;
    color: black;
    transition-duration: 0.7s;
}

.yandex ::first-letter {
    color: red;
}

.yandex.accordionItemSelected {
    background-color: red;
    color: white;
    font-size: 1.3em;
}

.yandex.accordionItemSelected ::first-letter {
    color: white;
}

.yandex:hover {
    background-color: red;
    color: white;
    font-size: 1.3em;
}

.yandex:hover ::first-letter {
    color: white;
}

.yandex h2 {
    font-family: 'Domine', serif;
}


.accordionDescriptionsBlockContainer {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    width: 65%;
    height: 100%;
    border-left: 2px solid black;
}

.accordionDescriptionBlock {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    padding: 1em;
    display: none;
}

.accordionDescriptionBlock.accordionBlockShowed {
    display: block;
}


.accordionDescriptionBlock h2 {
    margin: 0;
}

.sectionSkills {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsContainer {
    width: 80%;
    height: 80%;
}

.skills {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.skills h2 {
    margin: 0;
}

.languagesSkills {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.technologiesSkills {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.skill h3 {
    font-size: 0.85em;
    margin: 0.25em 0;
    opacity: 0;
}

.skill h3.appeared {
    opacity: 1;
    transition-duration: 0.45s;
}


.skillBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 65%;
}

.color1 .skillBarElement {
    background-color: #00a65a;
    /*background-color: #f56954;*/
    /*background-color: #0073b7;*/
    /*background-color: #ba79cb;*/
    /*background-color:  #00b29e;*/
}


.skillBarElement {
    opacity: 0;
    width: 9%;
    height: 1.2em;
    background-color: cadetblue;
    border: 1px solid black;
    transform: skew(-20deg);
}

.skillBarElement.appeared {
    opacity: 1;
    transition-duration: 0.3s;
}

.sectionContacts {
    background: whitesmoke;
    display: flex;
}

.contactsMain {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsContainer {
    height: 70%;
    width: 80%;
    background-color: white;
    border-radius: 5px;
}

.contacts {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.contact {
    width: 100%;
}

.contact a {
    text-decoration: none;
    display: flex;
    width: 100%;
    transition: all 0.2s ease;
}

.contact a img {
    margin-left: 1.7em;
    order-radius: 50%;
    height: 42px;
    width: 42px;
    transition: all 0.2s ease;
}

.contact a:hover {
    transform: scale(1.2, 1.2);
}

.contact a h3 {
    margin: 0 0 0 1em;
    font-size: 0.85em;
    align-self: center;
    color: black;

}

/*animation*/

.animationWrapper {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.layeredAnimations {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.layeredAnimations .shape {
    position: absolute;
    top: 50%;
    overflow: visible;
    stroke: transparent;
    stroke-width: 1px;
    fill: url(#shapesGradient);
    opacity: 0;
}

@media (min-width: 740px) {
    .layeredAnimations .shape {
        stroke-width: .5px;
    }
}

.layeredAnimations .large.shape {
    width: 128px;
    height: 128px;
    margin-top: -64px;
}

.layeredAnimations .small.shape {
    width: 64px;
    height: 64px;
    margin-top: -32px;
    stroke: currentColor;
    fill: currentColor;
}

.layeredAnimations .xSmall.shape {
    width: 32px;
    height: 32px;
    margin-top: -16px;
    stroke: currentColor;
    fill: currentColor;
}

.colorSmall {
    color: #FF4B4B;
}

.colorXSmall {
    color: #00a65a;
}


@media (orientation: portrait) {
    :root {
        --aside-width: 0%;
    }

    main {
        font-size: 4vw;
    }

    .globalSection {
        height: unset;
    }

    .willAppear {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .sectionAbout {
        min-height: 300px;
        max-height: 400px;
    }
    .sectionAbout p {
        font-size: 6vw;
    }

    .sectionEducation {
        flex-direction: column;
    }
    .educationMain {
        width: 100%;
        height: unset;
    }
    .educationItmo {
        width: 80%;
    }
    .badge {
        line-height: 2.2em;
        font-size: 3.7vw;
    }
    .educationExtra {
        width: 100%;
        height: unset;
    }

    .sectionExperience {
        min-height: 300px;
    }
    .accordion {
        flex-direction: column;
        height: unset;
    }
    .accordionSlider {
        width: 100%;
    }
    .firstSliderItem {
        -webkit-border-top-right-radius: 5px;
    }
    .accordionDescriptionsBlockContainer {
        width: 100%;
        border: unset;
    }

    .sectionSkills {
        min-height: 300px;
    }
    .skills h2 {
        margin: 1vw 0 0;
    }
    .skills h3 {
        font-size: 3vw;
        margin: 2.2vw 0;
    }

    .animationWrapper {
        display: none;
    }
    .contactsMain {
        width: 100%;
    }
    .contactsContainer {
        width: 80%;
    }
    .contacts {
        align-items: unset;
        flex-direction: unset;
        flex-wrap: wrap;
    }
    .contact {
        width: 200px;
    }
    .contact a {
        margin: 2vw 0;
    }

    .contact a img {
        margin-left: 1.2em;
    }
}